<div *ngIf="observations?.length > 0; else notFound" class="wrapper">
  <mgl-timeline [toggle]="false" [alternate]="true">
    <mgl-timeline-entry *ngFor="let entry of observations">
      <mgl-timeline-entry-header>
        <div>{{entry.code.text || entry.code.coding[0].display}}</div>
      </mgl-timeline-entry-header>
      <mgl-timeline-entry-content>
        <div>
          <div *ngFor="let comp of entry.components">
            {{comp.code.text}} - {{comp.valueQuantity.value}} {{comp.valueQuantity.unit}}
          </div>
        </div>
      </mgl-timeline-entry-content>
      <mgl-timeline-entry-dot [color]="'accent'" [size]="30"></mgl-timeline-entry-dot>
      <mgl-timeline-entry-side>{{entry.issued | date:'medium'}}</mgl-timeline-entry-side>
    </mgl-timeline-entry>
  </mgl-timeline>
</div>
<ng-template #notFound>
  <app-not-found foundDataName="Observations"></app-not-found>
</ng-template>
