<mat-card id="search">
  <mat-form-field id="name-search">
    <label>
      <input matInput placeholder="Patient Name" [(ngModel)]="searchedName">
    </label>
  </mat-form-field>
  <button mat-button (click)="getPatientsWithName()">
    <mat-icon>search</mat-icon>Search
  </button>
  <button mat-button [disabled]="!previousPage" (click)="getPreviousPage()"><mat-icon>skip_previous</mat-icon></button>
  <button mat-button [disabled]="!nextPage" (click)="getNextPage()"><mat-icon>skip_next</mat-icon></button>
  <div class="page-state"> Page {{currentPageNo + 1}}</div>
</mat-card>
<app-table [data]="patients" [fields]="fields" [onRowClick]="onRowClick.bind(this)"></app-table>
