<mat-form-field>
  <input matInput [matDatepicker]="dateFromPick" placeholder="From" [(ngModel)]="dateFrom" name="dateFrom"
         (dateChange)="onDateFromChange()" [min]="firstObservationDate" [max]="maxDateFrom">
  <mat-datepicker-toggle matSuffix [for]="dateFromPick"></mat-datepicker-toggle>
  <mat-datepicker #dateFromPick></mat-datepicker>
</mat-form-field>
<mat-form-field>
  <input matInput [matDatepicker]="dateToPick" placeholder="To" [(ngModel)]="dateTo" name="dateTo"
         (dateChange)="onDateToChange()" [min]="minDateTo" [max]="lastObservationDate">
  <mat-datepicker-toggle matSuffix [for]="dateToPick"></mat-datepicker-toggle>
  <mat-datepicker #dateToPick></mat-datepicker>
</mat-form-field>
